.ant-layout {


  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .demo-logo {
    margin-right: 1rem;
  }

  .ant-layout-content {
    padding: 1rem 1rem;
    overflow-y: auto;
  }
}

@mixin tableCell() {
  border: 1px solid #CCCCCC;
  padding: 0.5rem 0.5rem;
}

.vite-plugin-react-markdown {
  table {
    thead {
      tr {
        th {
          @include tableCell();
        }
      }
    }

    tbody {
      tr {
        td {
          @include tableCell();
        }
      }
    }
  }
}

.text-right {
  text-align: right;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
